html{
    font-size: 62.5%;
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
header{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5rem;
    background-color: #68cdd5;
    padding:0;
    z-index:1;
    line-height: 5rem;
    text-align: center;
    position: fixed;
    outline: none;
}
.btn{
    height:3rem;
    width: 8rem;
    padding: 0;
    border-radius:10%;
    margin:0 -5px;
}
.btn-1 {
    border:.01rem solid #4eb0bc;
    background-color: #4eb0bc;
    color: #fff;
}
.btn-1:focus{
    border:.01rem solid #fff;
    background-color: #fff;
    color: #5fc0cd;
}
.btn-1:focus + .btn-2{
    border:.01rem solid #4eb0bc;
    background-color: #4eb0bc;
    color: #fff;
}
.btn-2{
    border:.01rem solid #fff;
    background-color: #fff;
    color: #5fc0cd;
}
header a{
    background: url("../img/ditu.png") no-repeat;
    background-size: 3rem 3rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
}
.daohan{
    position: fixed;
    top: 5rem;
    width: 100%;
    height: 4rem;
    background-color: #fff;
    padding: 0.1rem;
    z-index:1;
    display: flex;
    line-height: 4rem;
    border-bottom:.1rem solid #aaaaaa ;
}
.dropdown{
    flex: auto;
    color: #aaa;
    background-color: #fff;
}
.daohan .btn{
    background-color: #fff;
    padding: 0;
    position: relative;
    width: 100%;
    line-height: 3rem;
    border-right:.1rem solid #aaaaaa ;
}
.dropdown-menu{
    width: 100%;
    text-align: center;
}
.caret{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
main{
    overflow: auto;
    flex: 1;
    padding: 0;
    margin-top: 9rem;
    margin-bottom:7rem;
}
main ul{
    padding: 0;
    margin: 0;
}
main li{
    padding: 0.8rem;
    list-style:none;
    height:10rem;
    border-bottom:.1rem solid #aaaaaa ;
}
main p{
    position: relative;
    padding-left:2.5rem;
    margin: 0;
    height: 3rem;
    line-height:3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.fwrq{
    background: url("../img/rili.png") no-repeat;
    color: #aaa;
    background-size: 2.4rem 2.4rem;
}
main span{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding-right: 2rem;
    margin-right: 1rem;
    color: #ff0000;
    line-height: 2.5rem;
}
span a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(50deg);
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    border-right: 0.2rem solid #5fc0cd;
    border-top: 0.2rem solid #5fc0cd;
}
.diz{
    background: url("../img/dian.png") no-repeat;
    color: #aaa;
    background-size: 1.9rem 2.4rem;
}
footer {
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 7rem;
    background-color: #ffffff;
    z-index: 1;
    text-align: center;

}
footer a{
    display: inline-block;
    vertical-align: middle;
}
.home{
    background: url("../img/shouye.png") no-repeat;
    /*background-position:0 -88px;*/
    background-size: 3.5rem 3.5rem;
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    width: 3.8rem;
    height: 3.3rem;
    line-height:8.5rem;
    color: #5fc0cd;
    font-size: 1.5rem;
}
.xie{
    background: url("../img/xie.png") no-repeat;
    /*background-position:0 -213px;*/
    background-size: 6.5rem 6.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 7rem;
    height:7rem;
}
.mine{
    background: url("../img/toux.png") no-repeat;
    /*background-position:0 -128px;*/
    background-size: 3.5rem 3.5rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 3.6rem;
    height: 3.3rem;
    line-height:8.5rem;
    color: #aaa;
    font-size: 1.5rem;
}
@media screen and (max-width: 300px) {
    main p {
        padding-right:8rem ;
    }
}